*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body.html{
    line-height: 1;
    font-weight: 200;
    font-family: "Microsoft yahei"
}
clearfix{
    display: inline-block;
}
clearfix::after{
    display: block;
    content: " ";
    height: 0;
    clear: both;
    visibility: hidden;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5),screen and (min-device-pixel-ratio: 1.5){
    .border-1px:after{
       -webkit-transform: scaleY(0.7);
       transform: scaleY(0.7)
    }
}
@media screen and (-webkit-min-device-pixel-ratio: 2),screen and (min-device-pixel-ratio: 2){
    .border-1px:after{
       -webkit-transform: scaleY(0.5);
       transform: scaleY(0.5)
    }
}